@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: Rubik;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1500px;
    box-shadow: 0 3px 20px gray;
}

#top {
    width: 100%;
    height: 35vh;
    background-image: url(images/pattern-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.heading {
    color: white;
    text-align: center;
    padding: 30px 0;
}

.search {
    display: flex;
    width: 100%;
    margin: 0px auto;
    justify-content: center;
}

#enter-location {
    font-size: 16px;
    padding: 10px;
    outline: none;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#search-entred-location {
    font-size: 20px;
    padding: 10px 15px;
    outline: none;
    border: none;
    background-color: rgb(22, 22, 22);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.2s;
}

#search-entred-location:hover {
    background-color: rgb(49, 49, 49);
    cursor: pointer;
}

#mapid {
    height: 80vh;
    z-index: -9;
}

#mid {
    position: absolute;
    width: 100%;
    top: 25vh;
}

#complete-info {
    width: 70%;
    z-index: 9;
    background-color: white;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 0 3px 20px gray;
}

.imp-info {
    padding: 40px;
}

.imp-info p {
    color: rgb(43, 43, 43);
    font-weight: 400;
}

.imp-info h1 {
    font-weight: 700;
}

@media only screen and (max-width:650px) {
    #mid {
        position: absolute;
        width: 100%;
        top: 20vh;
    }
    #complete-info {
        flex-direction: column;
        align-items: center;
        width: 80%;
        text-align: center;
    }
    .imp-info {
        padding: 20px;
    }
}